.width-100 {
    width: 100%;
}

.width-90 {
    width: 90%;
}

.flex { /*자주 사용할것들*/
    display: flex;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.justify-content-center {
    justify-content : center;
 
    /* 요소가운데 */
} 

.align-items-center {
    align-items: center;
}

.justify-space-between{
    justify-content : space-between;
}

.mt-small{
    margin-top:10px;
}

.mt-middle{
    margin-top:50px;
}

.mb-middle {
    margin-bottom: 50px;
}

.mb-small {
    margin-bottom: 10px;
}

.mb-large{
    margin-bottom: 100px;
}

.ml-middle {
    margin-left: 50px;
}

.ml-small {
    margin-left: 10px;
}

.ml-large{
    margin-left: 100px;
}

.mr-middle {
    margin-right: 50px;
}

.mr-small {
    margin-right: 10px;
}

.mr-large{
    margin-right: 100px;
}


.padding-small{
    padding: 10px;
}

.pl-small{
    padding-left: 10px;
}

.pr-small{
    padding-right: 10px;
}

.cursor-pointer {
    cursor: pointer;
}

.small-btn{
    padding: 5px;
    hegith: 30px;
    background-color: white;
    border: 1px solid black;
}
